#container {
    background-color: #f0f0f0;
    padding: 2px;
    border-radius: 2px;
    width: 30vw;
}

.debit {
    padding: 7px;
    display: flex;
    justify-content: center;
    background-color: #F7676c;
    color:#720b0e
}

.credit {
    padding: 7px;
    display: flex;
    justify-content: center;
    background-color: #a8d0e6;
    color:#073953
}

.form-control {
    height: 30px;
    border-radius: 2px;
}

#effacer{
    margin: 0 auto;
    padding: 2;
    height: 30px;
    text-align: center;
    color: #F7676c;
    font-weight: 800;
    vertical-align: middle;
}